#head{
  display: flex;
  text-align: center;
  text-decoration: none;
  .header-navigation{
    margin-left: auto;
    color: black;
ul{
  a{
    text-decoration: none;
  }
}
  }
}

#image{
  width: 15%;
 
}

.bakery-header{
  width: 25px;
}